<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Farbenfroh</string>
	<key>Description</key>
	<string>Europahaus</string>
	<key>ImagePath</key>
	<string>IMG_2693.jpg</string>
	<key>Latitude</key>
	<real>47.66762719262464</real>
	<key>Longitude</key>
	<real>9.164882898330688</real>
	<key>Differences</key>
	<array>
		<dict>
			<key>X</key>
			<integer>1320</integer>
			<key>Y</key>
			<integer>2610</integer>
			<key>Width</key>
			<integer>313</integer>
			<key>Height</key>
			<integer>726</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>2340</integer>
			<key>Y</key>
			<integer>714</integer>
			<key>Height</key>
			<integer>246</integer>
			<key>Width</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>1382</integer>
			<key>Y</key>
			<integer>290</integer>
			<key>Width</key>
			<integer>50</integer>
			<key>Height</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>78</integer>
			<key>Y</key>
			<integer>402</integer>
			<key>Width</key>
			<integer>366</integer>
			<key>Height</key>
			<integer>432</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>1356</integer>
			<key>Y</key>
			<integer>402</integer>
			<key>Width</key>
			<integer>60</integer>
			<key>Height</key>
			<integer>318</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>1716</integer>
			<key>Y</key>
			<integer>3468</integer>
			<key>Width</key>
			<integer>108</integer>
			<key>Height</key>
			<integer>438</integer>
		</dict>
	</array>
</dict>
</plist>
