<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Konstanze</string>
	<key>ImagePath</key>
	<string>0001.jpg</string>
	<key>Longitude</key>
	<real>47.66073396981077</real>
	<key>Latitude</key>
	<real>9.181180000305176</real>
	<key>Mistakes</key>
	<array>
		<dict>
			<key>X</key>
			<integer>369</integer>
			<key>Y</key>
			<integer>507</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>1551</integer>
			<key>Y</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>600</integer>
			<key>Y</key>
			<integer>2193</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>2187</integer>
			<key>Y</key>
			<integer>2099</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>1604</integer>
			<key>Y</key>
			<integer>2922</integer>
		</dict>
	</array>
</dict>
</plist>
