<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Altes Haus</string>
	<key>Description</key>
	<string>Fahradstraße</string>
	<key>ImagePath</key>
	<string>IMG_3278.jpg</string>
	<key>Latitude</key>
	<real>47.66220806881211</real>
	<key>Longitude</key>
	<real>9.170836061239243</real>
	<key>Differences</key>
	<array>
		<dict>
			<key>X</key>
			<integer>1632</integer>
			<key>Y</key>
			<integer>510</integer>
			<key>Height</key>
			<integer>156</integer>
			<key>Width</key>
			<integer>126</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>648</integer>
			<key>Y</key>
			<integer>2016</integer>
			<key>Width</key>
			<integer>336</integer>
			<key>Height</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>737</integer>
			<key>Y</key>
			<integer>1634</integer>
			<key>Width</key>
			<integer>118</integer>
			<key>Height</key>
			<integer>88</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>1296</integer>
			<key>Y</key>
			<integer>1581</integer>
			<key>Width</key>
			<integer>54</integer>
			<key>Height</key>
			<integer>132</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>1244</integer>
			<key>Y</key>
			<integer>1968</integer>
			<key>Width</key>
			<integer>48</integer>
			<key>Height</key>
			<integer>52</integer>
		</dict>
	</array>
</dict>
</plist>
