<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Imperia</string>
	<key>Description</key>
	<string>Statue</string>
	<key>ImagePath</key>
	<string>IMG_3285.jpg</string>
	<key>Latitude</key>
	<real>47.66072132417359</real>
	<key>Longitude</key>
	<real>9.180898368358612</real>
	<key>Differences</key>
	<array>
		<dict>
			<key>X</key>
			<integer>1126</integer>
			<key>Y</key>
			<integer>852</integer>
			<key>Height</key>
			<integer>84</integer>
			<key>Width</key>
			<integer>98</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>925</integer>
			<key>Y</key>
			<integer>277</integer>
			<key>Width</key>
			<integer>35</integer>
			<key>Height</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>410</integer>
			<key>Y</key>
			<integer>427</integer>
			<key>Width</key>
			<integer>62</integer>
			<key>Height</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>858</integer>
			<key>Y</key>
			<integer>485</integer>
			<key>Width</key>
			<integer>34</integer>
			<key>Height</key>
			<integer>41</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>832</integer>
			<key>Y</key>
			<integer>967</integer>
			<key>Width</key>
			<integer>64</integer>
			<key>Height</key>
			<integer>65</integer>
		</dict>
	</array>
</dict>
</plist>
